html{
background-color: #330055;
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg");
background-attachment: fixed;
background-size: cover;
  min-height: 100%;
  font-family: 'helvetica neue';
}

.checked{
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}

h1 {
  color: white;
  padding: 10px;
}

.box {
  max-width: 600px;
  margin: 50px auto;
  background:  	 	#D0D0D0;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px black;
  opacity: 0.9;

}

#heading {
  background-color: #6b0099;
  text-align: center;
  font-family: sans-serif;
  opacity: 0.8;
  transition: 0.2s;
  margin-top: 100px;
}

#heading:hover{
  background: #00c3e6;
}

.item{
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  padding: 0px;
  transition: 0.2s;
  text-align: center;
}

.item:last-child {
  border-bottom: 0;
}

a{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  text-decoration: none;
}

.item:hover{
  background: #aaa;
  transform: scale(1.02);
  
}

form.item {
  text-align: center;
}

button{
  min-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(57, 40, 207);
  color: white;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  text-align: center;
  transition: 0.2s;
}

button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px black;
  background: #00c3e6;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #745aa1;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: rgb(212, 18, 18);
  color: rgba(240, 162, 162, 0.5);
  text-align: center;
}

.close{
  width: 20px;
  height: 20px;
  text-align: center;
  transition: 0.2s;
  border-radius: 50%;
}

.close:hover{
  font-weight: bolder;
  background: #e00b0b;
  color: white;
}


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color:  	 	#202020;
    font-size: 50px;
}


.area{
    background: #131eee;  
    background: -webkit-linear-gradient(to left, #121dec, #0c15ce);  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background:  	 	 	#919090;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: -1;
        border-radius: 50%;
    }

}
.itm{
  color: #383838;
 
}

.logout{
  background: #ab0006;
  border-radius: 5px;
}

.logout:hover{
  background: #f50008;
}

.logout a{
  color: white;
  font-weight: bolder;
  font-family: sans-serif;
}

.bgaaa{
  background-color: #aaa;
}
  ul.nav{
  list-style-type: none;
  margin: 0;
  
  padding: 0;
  overflow: hidden;
  font-family: sans-serif ;
 background-color: grey;
 position: fixed;
 width: 100%;
 top: 0%;
 z-index: 1;
}

li {
 float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
input[type="password"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
}

input[type="password"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #745aa1;
}

.change{
width: 600px;
height: 80px;
background-color:rgb(3, 148, 3);
font-size: 25px;
}
.change:hover{
  background-color: rgb(6, 204, 6);
  cursor: pointer;

}